body {
  padding: 20px 50px 20px 50px;
}

@media (max-width: 1000px) {
    .affix {
        position: relative;
    }
}

.title {
	padding-bottom: 20px;
}

.imagecont {
	position: fixed;
}

.image {
	width: 95%;
}

.submit {
	margin-left: 20px;
}

.section {
	margin-bottom: 20px;
}

.form-group {
	width: 50%;
}

.graph {
	padding-bottom: 100px;
}
