body {
  padding: 20px 50px 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.title {
	padding-bottom: 20px;
}

.imagecont {
	position: fixed;
}

.image {
	width: 95%;
}

.submit {
	margin-left: 20px;
}

.section {
	margin-bottom: 20px;
}

.form-group {
	width: 50%;
}